---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import {Image} from 'astro:assets';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-background flex flex-col min-h-screen">
		<Header />
		<main class="flex-1 px-120 flex flex-col items-center justify-center">
			
			<h1 class="text-4xl font-bold text-center pt-12 text-primary">Hey I'm Onur!</h1>
			<h3 class="text-2xl text-center text-secondary pt-4">I'm a frontend developer, traveller, game nerd, and a lot of other things.</h3>
			<div class="flex flex-col bg-surface rounded-lg p-4 mt-4">
				<p class="text-secondary">I’ve been working as a frontend developer for over four years, and in my free time, I love building whatever I’m curious about.</p>
				<br />
				<p class="text-secondary">This blog is a mix of experiments, side projects, half-finished ideas, and tech stack tryouts. I’ve never written a blog before, so this is me pushing myself to share more about what I’m building, learning, or just thinking about.</p>
				<br />
				<p class="text-secondary">It won’t be a strictly technical blog. Sometimes I might share bits of my daily life while working on something.</p>
				<br />
				<p class="text-secondary">Feel free to reach out if anything resonates or just to say hi. And don’t forget to check out my links!</p>
			</div>
			<div class="flex flex-row gap-4 justify-center bg-surface rounded-lg p-4 mt-4">
				<a href="https://github.com/onursahal" target="_blank" class="text-primary hover:text-accent">Github</a>
				<a href="https://www.linkedin.com/in/onursahal/" target="_blank" class="text-primary hover:text-accent">Linkedin</a>
				<a href="https://bsky.app/profile/zegatus.bsky.social" target="_blank" class="text-primary hover:text-accent">Bluesky</a>
			</div>
		
		</main>
		<Footer />
	</body>
</html>
