---
const today = new Date();
---

<footer class="flex justify-between items-center py-2 px-8 border-t border-surface bg-background text-secondary text-xs sticky bottom-0">
		<div>@zegatz</div>
		<div>Built with Astro & Notion</div>
</footer>

