---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href,  ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');

const className = isActive 
	? "text-accent hover:text-accent transition-colors duration-400" 
	: "text-primary hover:text-accent transition-colors duration-400";
---

<a href={href} class={className} {...props}>
	<slot />
</a>

