---
import HeaderLink from './HeaderLink.astro';
---

<header class="dark bg-background py-4 px-8 border-b border-surface sticky top-0">
	<nav>
		<div class="internal-links text-primary flex flex-row gap-4 items-center ">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			
		</div>
	</nav>
</header>
